{% extends 'layout.html.twig' %}

{% block title %}Connexion administration{% endblock %}

{% block navbar %}

    <li class="nav-item active">
        <a class="nav-link" href="#">Connexion administration<span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block body %}
    <div class="container">

        <form action="#" method="post">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="username" name="username" value="" placeholder="Utilisateur123">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" value="" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
            </div>

            <button type="submit" class="btn btn-primary">Connexion</button>
        </form>

    </div>
{% endblock %}