{% extends 'layout.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block content %}
    <h1>Erreur interne</h1>
    <p>Impossible de se connecter au serveur.</p>
    <img class="error" src="{{ asset('img/errors/error500.jpg') }}" alt="Erreur 500">
    <p>{{status_code}} : {{status_text}}</p>
    <p><a href="{{ path('main_homepage') }}">Retourner à la page d'accueil</a></p>
{% endblock %}