{% extends 'layout.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block content %}
    <h1>Page non trouvée</h1>
    <p>La page que vous cherchez n'a pas été trouvée</p>
    <img class="error" src="{{ asset('img/errors/error404.jpg') }}" alt="Erreur 404">
    <p>{{status_code}} : {{status_text}}</p>
    <p><a href="{{ path('main_homepage') }}">Retourner à la page d'accueil</a></p>
{% endblock %}