{% extends 'layout.html.twig' %}

{% block title %}DuelQuizz{% endblock %}

{% block body %}
    <div class="container-fluid">
        <p>Bienvenue sur DuelQuizz !</p>
        <p class="text-center">Connecte toi !</p>
        <p class="text-center">
            <a href="/connexion-admin" class="btn btn-success">Connexion administrateur</a>
        </p>
    </div>
{% endblock %}
